.positioning {

    display: flex; 
    justify-content: center;


}

body {

    background: url('/static/background/sky.gif');
    background-size: 100%;
    background-position-y:  5%;

}

.logoNavbar {

    width: 50px;

}

@media only screen and (width: 400px) {
    body {
        background-size: 300%;
    }
  }


  @media only screen and (width: 554px) {
    body {
        background-size: 150%;
    }
  }


.navbar {

    border-bottom: 1px solid black;
    background-color: transparent !important;

}

.form-control {

   width: 100% !important;


}

.containerForm {

    margin-top: 3em;


}